.header {
    height: 84px;
    border-bottom: 1px solid #ECEEF5;
    background-color: #FAF9FF;
}

.label-header {
    margin-top: 22px;
    margin-left: 23px;
}

.header-content {
    margin-left: 15px;
}

.right-button {
    text-align: right;
    padding-right: 33px;
}

.img-bar {
    margin-left: 1px;
}

.img-less-greater {
    padding-right: 6px;
}