<header>
    <div class="header">
        <div class="row">
            <div class="col-6">
                <label class="label-button label-header" href="#!"><img class="bars img-bar" src="../../../../../assets/images/buttons/bars.png"></label>
                <label class="content header-content">Contacts</label>
            </div>
            <div class="col-6">
                <div class="right-button">
                    <label class="label-button label-header" href="#!"><img class="bars img-less-greater" src="../../../../../assets/images/buttons/less.png"></label>
                    <label class="label-button label-header" href="#!"><img class="bars img-less-greater" src="../../../../../assets/images/buttons/greater.png"></label>
                </div>
            </div>
        </div>
    </div>
</header>
